*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    margin-top: 0px;
    font-family: 'Rubik', sans-serif;
}

/*--------------------Header starts here-----------------*/
.header{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px 30px;
    font-size: 15px;
}

.header .logo{
    padding-right: 80px;
}

.header nav ul, .header p, .header .social_media ul{
    padding: 0;
    margin: 0;
}

.header nav ul{
    margin-right: 180px;
}

.header ul li{
    list-style: none;
}

.header nav ul li{
    display: inline-block;
    padding-right: 30px;
}

.header nav ul li a{
    color: #040E27;
}

.header nav ul li a:hover{
    color: #1EC6B6;
    transition: color 0.2s ease-in;
}

.header a{
    text-decoration: none;    
}

.header .fa-phone{
    color: #FF4A52;
}

.header p{
    padding: 0 10px;
    margin-right: 10px;
    border-right: 2px solid #eee;
}

.header .social_media li{
    display: inline-block;
    padding-right: 18px;
}

.header .social_media li i{
    color: #AAB1B7;
}

.header .social_media li i:hover{
    color: #FF4A52;
}

.header .search{
    background: #FF4A52;
}

.header .search i{
    color: #fff;
}
/*--------------------Header ends here-------------------*/

/*--------------------Section starts here-----------------*/
.section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .indonesia{
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.section .indonesia h3{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 120px;
    font-weight: 550;
    margin: 0;
}

.section .indonesia p{
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 60px;
}

.section .indonesia a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    background: #1EC6B6;
    padding: 16px 36px;
    border-radius: 5px;
}

.section .indonesia a:hover{
    background: #FF4A52;
    transition: background 0.2s ease-in;
}

/*--------------------Section ends here-------------------*/
